.custom-navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #0659ff;
  padding: 1rem;
  color: white;
  text-align: center;
  width: 90%;
}

.custom-navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
}
