.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-numbers button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin: 5px 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-numbers button.active {
  font-weight: bold;
  border: none;
  background-color: #007bff;
  color: #000;
}
